{% extends 'base.html' %}

{% block content %}

<h2>Dados armazenados</h2>

<ul>
{% for doc in data %}
    <li>
    <h3>Device ID: {{ doc.keys() | list | first }}</h3>
    <ul>
        {% for key, value in (doc.values() | list | first).items() %}
            {% if key == 'last_updated' %}
                <li><strong>{{ key }}:</strong> {{ value.strftime('%Y-%m-%d %H:%M:%S') }}</li>
            {% elif key in ['temperature', 'air_humidity', 'soil_humidity'] %}
                <li><strong>{{ key }}:</strong> {{ value | round(2) }}</li>
            {% else %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if plots[doc.keys() | list | first] %}
        <div>{{ plots[doc.keys() | list | first]|safe }}</div>
    {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}